#content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px;
    padding: 0 14px;
}

#cardholder{
    /*height:520px; */
    border:0px solid black;
    margin-bottom: 16px;
}

#card{
    border:1px solid rgb(220,220,220); 
    box-shadow: none;    
    border-radius: 0.5rem;
    background: transparent;
    width:100%;
    aspect-ratio: 16 / 9;
}

#infoholder{
    padding:10px 12px;
}

#title{
    font-weight: 600;
}

#desc{

}

#techstack{
    color: rgb(90,90,90);
    font-size: 14px;
    margin: 8px 0px;
}

#headerweb{
    display: block;
    display: grid;
    grid-template-columns: auto auto auto auto 1fr;
    margin:18px 0px 12px 0px; 
}

#headermobile{
    display: none;
}

#bio{
    font-size: 20px;
}

#biopad{
    display: grid; grid-template-columns: auto; padding: 0 100px 30px 100px;
}

@media (max-width: 768px) {
    #content{
        display: grid;
        grid-template-columns: 1fr;
        gap: 14px;
    }

    #card{
        /*border-radius: 0px;*/
        /*box-shadow: none;*/
        border:none;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);
        border-left: none;
        border-right: none;
    }

    #headerweb{
        display: none;
    }

    #headermobile{
        display: block;
    }

    #bio{
        font-size: 18px;
    }
    
    #biopad{
        display: grid; grid-template-columns: auto; padding: 0 24px 30px 24px;
    }
}